# Day Objectives
 - Python Introduction
 - Variables
 - Operators
 - Strings
 - String Functions

## Python Introduction
#### For defining Python
- High Level Programming Language
- Interpreter
- OOPS
- Multi-purpose
- Dynamic

## Variables

- We can store values temporarily

#### Variable Assignment

- Assigning single value to multiple variables
- Assigning different types of values to different variables in a line

- By using second way we can perform swapping without using temp

In [10]:
c=0
print(type(c))
c=5/2
print(type(c))
c="a"
print(type(c))
a=b=c=10
a
b
c
a,b,c

<class 'int'>
<class 'float'>
<class 'str'>

(10, 10, 10)

In [24]:
name,age,rollno="XYZ",20.8,20987
print(type(name))
print(type(age))
print(type(rollno))

<class 'str'>
<class 'float'>
<class 'int'>

In [27]:
name,age,rollno="XYZ",20.8,20987
print(name,type(name))
print(age,type(age))
print(rollno,type(rollno))

XYZ <class 'str'>
20.8 <class 'float'>
20987 <class 'int'>

In [38]:
a,b=10,20
a=a+b
b=a-b
a=a-b
print(a)
print(b)

20
10

In [39]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

### Reading Values from User

- In python we can use input() for reading values from user

In [42]:
a=input("Enter a value")
a
type(a)

Enter a value8435

str

In [47]:
a=int(input("Enter a value"))
print(type(a))

Enter a value78468
<class 'int'>

In [48]:
name=str(input("Enter a name:"))
print("Welcome",name)

Enter a name:to KSRM
Welcome to KSRM

### Modes of Execution
- There are two ways
 - Interactive Mode
    - We can write something and see the result there only
 - Scripting mode
    - We can build logic in a file(file.py)

### Operators

 - We can perform Arithmetic and logical operations
  
#### Types

- Arithmetic Operators --> +,-,*,/,%,//,**
- Relational Operators --> <,>,<=,>=,==,!=
      -  Compare two nums
- Logical Operators --> and,or,not
      - To compare two conditions
- Bitwise Operators --> &,|,<<,>>
- Assignment Operators--> +=,-=.*=,/=,%=,//=,**=
- Membership Operators--> in, not in 
- Identity Operators-->is,is not

In [51]:
4//2
2**3

8

In [55]:
3<5
6>6
5<=5

True

In [57]:
3<2 or 2<5

True

In [59]:
2|3

3

In [60]:
2<<1

4

In [61]:
2>>1

1

In [65]:
a=[1,2,3,4,5]
5 in a
1 not in a

False

In [66]:
2 is 2

True

In [67]:
2 is 3

False

In [71]:
'abs' is 'abs'
id('abs')

2403481350072

In [72]:
2 is 2
id(2)

140707662893920

In [3]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

Enter first number5
Enter second number4
9
1
20
1.25
1