## Day Objectives:
- iterative satatements
- jumping statements
- python data structure
  - list
  - tuple
  - dictionaries
  - sets

### iterative satatements
- doing task again and again
- 2 types
   - for loop
   - while loop

In [9]:
range(19)
range(1,10)
range(1,10,2)

range(1, 10, 2)

In [ ]:
for var_name in

In [16]:
'1001' in '01001001100100'
'010010011001001001'.count('1001')

3

In [17]:
for var_name in range(10):
    print(var_name)

0
1
2
3
4
5
6
7
8
9

In [21]:
for var_name in range(10):
    print(var_name,end=",")

0,1,2,3,4,5,6,7,8,9,

In [25]:
for p in range(2,10):
    print(p,end=" ")

2 3 4 5 6 7 8 9

In [33]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [46]:
for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [51]:
for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [57]:
for rev in range(99,0,-2):
    print(rev,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [64]:
name = "apssdc"
print(name[0])
print(name[5])
print(name[len(name)-1])

a
c
c

In [72]:
name = "dasari"
for ch in range(len(name)):
    print(name[ch],end="  ")

d  a  s  a  r  i

In [75]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [78]:
for ch in name:
    print(ch,end=" ")

d a s a r i

In [88]:
n = int(input("Enter a table number:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter a table number:19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [97]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
    for j in range(1,11,):
        print(i,"x",j,"=",i*j,)
    print(" ")

Enter a number:5
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [116]:
n = int(input("Enter a number"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j," x ",i," = ",i*j,end="   ")
    print("")

Enter a number5
1  x  1  =  1   2  x  1  =  2   3  x  1  =  3   4  x  1  =  4   5  x  1  =  5
1  x  2  =  2   2  x  2  =  4   3  x  2  =  6   4  x  2  =  8   5  x  2  =  10
1  x  3  =  3   2  x  3  =  6   3  x  3  =  9   4  x  3  =  12   5  x  3  =  15
1  x  4  =  4   2  x  4  =  8   3  x  4  =  12   4  x  4  =  16   5  x  4  =  20
1  x  5  =  5   2  x  5  =  10   3  x  5  =  15   4  x  5  =  20   5  x  5  =  25
1  x  6  =  6   2  x  6  =  12   3  x  6  =  18   4  x  6  =  24   5  x  6  =  30
1  x  7  =  7   2  x  7  =  14   3  x  7  =  21   4  x  7  =  28   5  x  7  =  35
1  x  8  =  8   2  x  8  =  16   3  x  8  =  24   4  x  8  =  32   5  x  8  =  40
1  x  9  =  9   2  x  9  =  18   3  x  9  =  27   4  x  9  =  36   5  x  9  =  45
1  x  10  =  10   2  x  10  =  20   3  x  10  =  30   4  x  10  =  40   5  x  10  =  50

In [4]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f * i
    return f

In [7]:
s_n = int(input("Enter a starting number:"))
e_n = int(input("Enter ending number:"))
for i in range(s_n,e_n+1):
    print(fact(i))

Enter a starting number:1
Enter ending number:5
1
2
6
24
120

In [9]:
for i in range(1,100):
    if i==19:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

In [18]:
for i in range(1,100):
    if i%5==0:
        print(i,end=" ")  
    continue

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

## Python Datastructures

### List
- it is a datastructure
- it is a mutable
- for defining list we are using [and]
- and also it is a datatype

In [20]:
li = [143,645.8,'dasari']
print(type(li),li)

<class 'list'> [143, 645.8, 'dasari']

In [24]:
print(li[0])
print(li[2])
print(len(li))
print(li[:1])
print(li[1:])
li[::-1]

143
dasari
3
[143]
[645.8, 'dasari']

['dasari', 645.8, 143]

In [25]:
li

[143, 645.8, 'dasari']

In [27]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
li.append(50)

In [29]:
li

[143, 645.8, 'dasari', 50]

In [30]:
li.insert(2,45)

In [31]:
li

[143, 645.8, 45, 'dasari', 50]

In [32]:
li.pop()

50

In [33]:
li

[143, 645.8, 45, 'dasari']

In [41]:
li.remove(45)

ValueError: list.remove(x): x not in list

In [42]:
li

[143, 645.8, 'dasari']

In [43]:
li.clear()

In [44]:
li

[]

In [45]:
del li

In [46]:
li

NameError: name 'li' is not defined

In [49]:
li1 = [143,645.8,'dasari']

In [51]:
li1

[143, 645.8, 'dasari']

In [52]:
li2 = li1.copy()

In [53]:
li2

[143, 645.8, 'dasari']

In [54]:
li1,li2

([143, 645.8, 'dasari'], [143, 645.8, 'dasari'])

In [55]:
li.remove(143)

In [56]:
li

[645.8, 'dasari']

In [57]:
li1,li2

([143, 645.8, 'dasari'], [143, 645.8, 'dasari'])

In [58]:
li1.remove(143)

In [59]:
li1,li2

([645.8, 'dasari'], [143, 645.8, 'dasari'])

In [60]:
li1=li2

In [61]:
li1,li2

([143, 645.8, 'dasari'], [143, 645.8, 'dasari'])

In [62]:
li1.remove(143)

In [63]:
li1,li2

([645.8, 'dasari'], [645.8, 'dasari'])

In [64]:
 li1.count(645.8)

1

In [66]:
li1.append(li2)

In [67]:
li1

[645.8, 'dasari', [...]]

In [68]:
li1,li2

([645.8, 'dasari', [...]], [645.8, 'dasari', [...]])

In [69]:
li1[3]

IndexError: list index out of range

In [71]:
li1,li2

([645.8, 'dasari', [...]], [645.8, 'dasari', [...]])

In [73]:
li3.copy(li1)

NameError: name 'li3' is not defined

In [74]:
li1.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [75]:
li1

[645.8, 'dasari', [...]]

In [76]:
li1 = [45,12,75,136,45,8,52,52,6320,52,78,1,62,75]

In [77]:
li1

[45, 12, 75, 136, 45, 8, 52, 52, 6320, 52, 78, 1, 62, 75]

In [79]:
li1.sort()

In [80]:
li1

[1, 8, 12, 45, 45, 52, 52, 52, 62, 75, 75, 78, 136, 6320]

In [81]:
li1.reverse()

In [82]:
li1

[6320, 136, 78, 75, 75, 62, 52, 52, 52, 45, 45, 12, 8, 1]

In [83]:
max(li1)

6320

In [85]:
min(li1)

1

In [90]:
n = int(input())
var = list(map(int,input().split()))[:n]
print(sum(var))

6
10 20 30 40 50 60 70 80 90 100
210

In [3]:
li = []
n = int(input("Enter the size of list:"))
for i in range(n):
    val = int(input("enter value:"))
    li.append(val)
print(li)
print("max of li:",max(li))
print("min of li:",min(li))
print("sum is:",sum(li))
print("average is:",sum(li)/len(li))

Enter the size of list:5
enter value:4
enter value:5
enter value:6
enter value:1
enter value:2
[4, 5, 6, 1, 2]
max of li: 6
min of li: 1
sum is: 18
average is: 3.6

## Tuples
- it is a data structure
- it is data type
- it is imutable
- ()

## Sets
- it is data structure
- it is a data type
- it is mutable
- {}

In [4]:
s = {1,2,3,4,5,6,4,32,4,7,3,4}
print(s)

{32, 1, 2, 3, 4, 5, 6, 7}

In [5]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']